openapi: '3.0.0'
info:
  version: 1.0.0
  title: DEEPS API
  license:
    name: MIT
servers:
  - url: https://api.deeps.com/v1
paths:
  /products:
    get:
      summary: List all sleep products
      operationId: listProducts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of sleep products
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new sleep product
      operationId: createProduct
      responses:
        201:
          description: Product created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products/{productId}:
    get:
      summary: Get details for a specific sleep product
      operationId: getProduct
      parameters:
        - name: productId
          in: path
          required: true
          description: The id of the product to retrieve
          schema:
            type: string
      responses:
        200:
          description: Product details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /patches/{patchId}:
    get:
      summary: Retrieve information about a specific sleep patch application
      operationId: getPatchApplication
      parameters:
        - name: patchId
          in: path
          required: true
          description: The id of the patch application to retrieve
          schema:
            type: string
      responses:
        200:
          description: Patch application details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patch'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Product:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Products:
      type: array
      items:
        $ref: '#/components/schemas/Product'
    Patch:
      required:
        - id
        - productId
      properties:
        id:
          type: integer
          format: int64
        productId:
          type: integer
          format: int64
        applicationTime:
          type: string
        duration:
          type: integer
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string